
@charset "utf-8";

:root{
    --primary: #22aa5f;
    --dark: #0d7e40;
    --light: #c7ffde;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color:#fff;
    color:#000;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

article > header {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 5px;
}


article > footer {
    background-color:var(--dark);
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
.content-wrap{
    width: 100%;
    max-width: 1034px;
    margin: 0 auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.checkmark{
    opacity: 0;
    position: absolute;
    top: 18px;
    right: 23px;
    height: 33px;
    width: 33px;
    border-radius: 100px;
    background-color: var(--primary);
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  }

  .checkmark::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 12px;
    width: 5px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }


 .card{
     cursor: pointer;
     width: 100%;
     max-width: 270px;
     margin: 12px;
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     min-height: 200px;
    border-radius: 5px;
    padding: 20px 30px;
    background-color: #fff;
    -webkit-box-shadow: rgba(0,0,0,.09) 0px 0px 9px 0px;
    box-shadow:rgba(0,0,0,.09) 0px 0px 9px 0px;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
 }

 @media screen and (min-width: 1025px) {
    .card:hover{
        -webkit-box-shadow: rgba(0,0,0,.1) 0px 3px 5px 0px;
                box-shadow: rgba(0,0,0,.1) 0px 3px 5px 0px;
        -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
                transform: translateY(-3px);
     }
 }

 .card.is-selected{
     -webkit-box-shadow: rgba(0,0,0,.12) 8px 10px 20px 0px, rgba(0,0,0,.19) 0px 0px 9px 0px;
             box-shadow: rgba(0,0,0,.12) 8px 10px 20px 0px, rgba(0,0,0,.19) 0px 0px 9px 0px
 }

 .card.is-selected .checkmark{
     opacity: 1;
 }

 img{
     width: 100%;
     max-width: 170px;
     max-height: 107px;
    object-fit: contain;
 }

 .title-wrap{
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }
 .title{
     margin: 0;
 }

 .price{
     position: absolute;
     top: 15px;
     left: 15px;
     margin: 0;
    color: var(--primary);
    font-weight: bold;
    font-size: 17px;
    background-color: var(--light);
    padding: 3px 10px;
    border-radius: 3px;
 }


#popup-overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color:rgba(0, 0, 0, 0.88);
    display: none;
}
 .info-wrap{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 400px;
    margin: 10vh auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
 }

 .info-title{
    text-align: center;
 }

 .info-title h3{
     font-size: 23px;
     margin-bottom: 0;
 }


.species{
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

 .quick-info-wrap{
     width: 100%;
     max-width: 200px;
     margin: 30px auto;
     text-align: left;
 }

 .quick-info span{
     float: right;
     font-weight: 600;
     color: var(--primary);
     background-color: var(--light);
     width: 30px;
     height: 30px;
     border-radius: 50px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -ms-flex-line-pack: center;
         align-content: center;
     line-height: 2;
 }

 .more-info{
    color: var(--primary);
 }
 #close{
     cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
 }

 #close::after{
    content: "";
    display: block;
    width: 2px;
    height: 28px;
    background-color: black;
    -webkit-transform: rotate(-45deg) translate(9px, 3px);
        -ms-transform: rotate(-45deg) translate(9px, 3px);
            transform: rotate(-45deg) translate(9px, 3px);
    left: 0;
    top: 0;
  }

 @media screen and (max-height: 600px) {
    .overflow-scroll{
        overflow: scroll;
    }
 }